[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module
max-module-lines=1000

# String used as indentation unit: 2 spaces
indent-string='  '

[MESSAGES CONTROL]
disable=C0103,W0703,I0011
